@font-face {
  font-family: "Cal Sans";
  font-style: normal;
  font-display: block;
  font-weight: 600;
  src: url("/fonts/CalSans-SemiBold.woff2") format("woff2"),
    url("/fonts/CalSans-SemiBold.woff") format("woff"),
    url("/fonts/CalSans-SemiBold.ttf") format("truetype");
}
